{%extends 'book/base.html'%}
{%block content%}
<br >
<h1 style="padding:60px;text-align:left;">Your Bookings</h1>
{%if dash%}

{%for ob in dash%}

<div class="container"></div>
<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Name:{{ob.name}}</h5><br>
    <p class="card-text"><b>Token NO::{{ob.pk}}</b></b></p>
      <p class="card-text">Age:{{ob.age}}</p>
    <p class="card-text">Address:{{ob.address}}</p>
      <p class="card-text">District:{{ob.district}}</p>
      <p class="card-text">Center:{{ob.center}}</p>
      <p class="card-text">Vaccine:{{ob.vaccine}}</p>
     <p class="card-text">Time:{{ob.time}}</p>
      <p class="card-text">Aadhar:{{ob.aadhar}}</p>
      <p class="card-text">Number:{{ob.mobile}}</p><br>

  </div>
</div>
{%endfor%}
{%else%}
<br>
<b><p>you Haven't made a booking !</p></b>
{%endif%}
{%endblock%}